<div class="navbar">
    <div class="lang">
        <p class="primary-color">Eng</p>
    </div>
    <div class="brand">
        <h1>O bag</h1>
    </div>
    <div class="bar">
        <div class="search gap-m">
            <span class="material-symbols-outlined gap-m">
                search
            </span>
            <input #input (change)="onChange(input.value)" placeholder="Search" type="text">
        </div>
        <div class="user gap-m">
            <span class="material-symbols-outlined gap-m">
                favorite
            </span>
            <span class="material-symbols-outlined gap-m">
                person
            </span>
            <a routerLink="shopcart">
                <span class="material-symbols-outlined gap-m">
                    shopping_cart
                </span>
            </a>
            <span *ngIf="shopCartCount != 0" class="count">{{shopCartCount}}</span>
        </div>
        <div class="shopcart"></div>
    </div>
</div>
<section>
    <div class="hero">
        <div class="hero-text">
            <h1 class="primary-color">Product catalog</h1>
            <p>Home > products</p>
        </div>
        <div class="banner">
            <img src="https://fakestoreapi.com/icons/intro.svg" alt="">
        </div>
    </div>
</section>