@import '../../styles/forms.scss';
@import '../../styles/mixins.scss';

.content {
    width: 87%;
    float: left;
    @include flexbox($flexWrap: wrap);
}

.card {
    width: 230px;
    height: 360px;
    margin: 10px;
    position: relative;
    text-align: center;
    background-color: var(--primary);
    padding: 12px;
    border-radius: 8px;

    .discount {
        position: absolute;
        right: -14px;
        background-color: var(--secondary);
        border-radius: 14px;
        padding: 6px;
        width: 65px;
    }

    .card-header {
        img {
            background-color: white;
            border-radius: 8px;
            width: 200px;
            height: 200px;
            object-fit: contain;
        }
    }

    .card-body {
        h3 {
            width: 100%;
        }

        p {
            padding: 12px;
        }
    }

    .buttons {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 10px;
        @include flexbox(space-around);
        transition: all .2s linear;
        opacity: 0;
        transform: translateY(8px);
        .float-btn {
            cursor: pointer;
            border: 1px solid;
            padding: 4px 6px;
            border-radius: 8px;
            transition: all .3s ease;

            &:hover {
                background-color: rgba(white, .4);
                border: transparent 1px solid;
            }
            &:active{
                color: wheat;
                background-color: var(--secondary);
                transform: scale(.95);
            }
        }
    }
    &:hover > .buttons{
        opacity: 1;
        transform: translateY(0);
    }
}