<div class="container">
  <table>
    <caption>
      Shopping bag
    </caption>
    <thead>
      <tr>
        <th>Image:</th>
        <th>Title:</th>
        <th>Count:</th>
        <th>Price:</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <span (click)="deleteItem(product.id)">X</span>
        <td>
          <img
            [src]="product.image"
            alt="#orderImage"
            height="100"
            width="100"
          />
        </td>
        <td>{{ product.title }}</td>
        <td>
          <span (click)="addOrSubstract(product, '+')">+</span
          >{{ product.count
          }}<span (click)="addOrSubstract(product, '-')">-</span>
        </td>
        <td>{{ product.price * product.count | currency: 'UZS' }}</td>
      </tr>
    </tbody>
  </table>
  <p>Total price: {{totalPrice}}</p>
  <div class="checkout">
    <div class="form-group">
      <h1>Personal Address</h1>
      <div class="form-control">
        <label for="firstName"
          >First Name:<input type="text" placeholder="First Name"
        /></label>
      </div>
      <div class="form-control">
        <label for="lastName"
          >Last Name:<input type="text" placeholder="Last Name"
        /></label>
      </div>
      <div class="form-control">
        <label for="email"
          >Email:<input type="text" placeholder="E-mail"
        /></label>
      </div>
      <div class="form-control">
        <label for="addresss"
          >Address:<input type="text" placeholder="Address Name"
        /></label>
      </div>
      <div class="form-control">
        <label for="city">City:<input type="text" placeholder="City" /></label>
      </div>
      <div class="form-control">
        <label for="zip"
          >Zip Code:<input type="text" placeholder="Zip Code"
        /></label>
      </div>
    </div>
    <div class="form-group">
      <h1>Payment</h1>
    <div class="form-control">
      <label for="nameOnCard"
        >Name On Card:<input type="text" placeholder="Mr. Hook"
      /></label>
    </div>
    <div class="form-control">
      <label for="cardNumber"
        >Card Number:<input type="text" placeholder="1111-2222-3333-4444"
      /></label>
    </div>
    <div class="form-control">
      <label for="expDate"
        >Exprasion Date:<input type="text" placeholder="09-12"
      /></label>
    </div>
  </div>
  <button (click)="submit()">checkout</button>
  </div>
</div>
