.container{
  width: 90%;
  overflow: auto;
  background-color: aliceblue;
  margin: auto;
  margin-top:20px;
  padding:20px;
  border-radius: 5px;
  display: flex;
  flex-direction:row ;
  flex-wrap: wrap;
}
table{
  margin: 5px;
  padding: 10px;
  border-collapse: collapse;
  width: 800px;
}
table td, table tr{
  border-top: 1px solid #32c2dc;
  border-bottom: 1px solid #32c2dc;
}
.image img{
  object-fit: contain;
  background-color: white;
  border-radius: 5px;
}
table tr td span{
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
  cursor: pointer;
  user-select: none;
}
table tbody tr > span{
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
  cursor: pointer;
  position: relative;
  top: 40px;
}
.checkout{
  padding: 10px;
  width: 100%;
  overflow: auto;
  margin: 20px;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  float: right;
}
.form-group {
  
}
.form-control{
  display: inline-block;
  margin: 15px;
}
.form-control input[type="text"]{
  height: 20px;
  margin: 15px;
  outline: none;
  border: 0;
  padding: 10px;
}
@media (max-width: 800px) {
 
}