.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
* {
  cursor: default;
}
.card {
  width: 300px;
  height: 420px;
  margin: 15px;
  padding: 10px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0 9px black;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.card-img {
  image-orientation: from-image;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.card-img img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.card-title p {
  font-size: large;
  font-family: Segoe UI;
}
.card-details :nth-child(1), .card-details :nth-child(1)  {
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  background-color: #32c2dc;
  color: white;
}
.card-description {
  overflow: hidden;
  height: 50px;
  font-size: smaller;
}
.card-footer {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  color: #707070;
  padding-top: 5px;
  margin-top: 15px;
  font-size: small;
}
.btn {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: #32c2dc;
  outline: 0;
  border: 0;
  transition: all 0.4s;
  cursor: pointer;
  height: 30px;
  position: relative;
  left: 100px;
  color: white;
}
.btn:hover {
  background-color: white;
  color: #e9a8a8;
  border: 1px solid #e9a8a8;
}
