<div class="container">
<div class="card" *ngFor="let product of products">
  <div class="card-img"><img [src]="product.image" alt="" /></div>
  <div class="card-title">
    <p>{{ product.title }}</p>
  </div>
  <div class="card-details">
    <span>{{ product.price | currency: 'UZS' }}</span>
    <button class="btn" (click)="addToCart(product)">Add To Cart</button>
  </div>
  <div class="card-description">
    <p>{{ product.description }}</p>
  </div>
  <div class="card-footer">
    <span>
      <img
        src="https://sportliga.com/preview/512/512/storage/helpsections/4_star_icon_png_rating_18.png"
        width="15px"
        alt=""
      />{{ product.rating.rate }}</span
    >
    <span>
      <img
        src="https://cdn.pixabay.com/photo/2016/12/18/11/04/eye-1915455_1280.png"
        width="15px"
        alt=""
      />
      {{ product.rating.count }}</span
    >
  </div>
</div>
</div>